@use "@/styles/theme.scss"as *;
@use "@/styles/style.scss"as *;

@media only screen and (max-width: 600px) {

  .section {
    .section-main {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      // padding: 0 1em;
      margin: 0 auto;
      box-sizing: border-box;

      div.section-grid {
        // pointer-events: stroke;
        // touch-action: none;

        &--james-bond {
          display: none;
        }

        &--bullring {
          display: none;

        }

        &--barclays {
          grid-column: span 3;
          grid-row: span 1;
          background-position: 0;

        }

        &--weather {
          grid-row: 1/span 2;
          grid-column: span 1;
          background-position: 0 6vh;
          background-size: 105% auto;
        }

        &--hsbc {
          display: none;
        }

        &--cac {
          grid-row: 1/span 2;
          grid-column: 2/span 2;
          background-position: -60px center;
        }

        &--sky {
          display: none;
        }



      }

    }

  }
}


@import "./feature-section-grid-extra.scss";