.section {
  display: flex;
  grid-gap: 25px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

  .section__title {
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    width: 100%;
    font-size: 2em;

  }
}

.selectable-grid {
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-position 0.2s linear, filter 0.2s ease, background-size 0.2s linear;
  // transition: filter 0.2s ease;
}

@media only screen and (max-width: 600px) {
  .section {
    padding: 0 0.5em;
    margin: 0 auto;
  }
}