h1 {
  margin: 0;
  color: var(--text-main);
  transition: color var(--transition-speed);
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.subtitle {
  color: var(--subtitle-color);
  font-weight: bold;
  font-size: 1.1rem;
  transition: color var(--transition-speed);
}
